// colors
$color-primary:#719eb8;
$color-primary-light:#83c6cf;
$color-primary-dark: #8cccd4; 

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-secondary-light: #f7d67d;
$color-secondary-dark: #f79604;

$color-secondary-green-light: #6bc786;
$color-secondary-green-dark: #41942c;

$color-secondary-blue-light: #36afe7;
$color-secondary-blue-dark: #07486d;

$color-white: #fff;
$color-black: #000;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//fonts
$default-fontsize: 1.6rem;
 
